.contactForm {
  padding: 0 0 90px;
}

.flexContainer {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 30px;
}

.subtitle  {
  color: #999;
  font-weight: 600;
  font-size: 0.9em;
  display: block;
}

.title {
  font-size: 1.7em;
  margin-bottom: 30px;
  max-width: 500px;
}

.title::after {
  content:'';
  display: block;
  position: relative;
  width: 150px;
  padding-bottom: 16px;
  border-bottom: 4px solid var(--primary-color);
}

.form {
  padding: 10px;
  background-color: #f4f4f4;
}

.form input,
.form textarea {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  transition: border 300ms ease-out;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-bottom-color: var(--primary-color);
  border-bottom-width: 3;
}

.form textarea {
  height: 120px;
}

.form input[type=submit]{
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.details h4 {
  font-size: 1.4em;
  margin-bottom: 50px;
  max-width: 300px;
  font-weight: 600;
}

.details > div {
  margin-bottom: 30px
}

.phone > span, 
.email > span {
  color: var(--dark-color);
  display: block;
  margin-bottom: 16px;
}

.phone > a, 
.email > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1.25em;
  font-weight: 800;
}

@media screen and (min-width: 1100px){
  .contactForm {
    padding: 90px 0;
  }
  .form {
    padding: 25px;
  }
  .title {
    font-size: 2.4em;
  }
  .flexContainer {
    flex-direction: row-reverse;
    row-gap: 0;
    column-gap: 50px;
  }
  .title {
    margin-bottom: 90px;
  }
  .details,
  .form {
    flex-grow: 1;
  }
}